<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Notes</title>
    </head>

    <body>
        <h1>Here are your notes</h1>

        <ul>
            {% for item in items %}
                <li>{{item.content}}</li>
            {% endfor %}
		</ul>



        <h2>Add notes to list</h2>
        <form action="/add" method="POST">
            <!-- {% csrf_token %} -->
            <input type="text" name="content" placeholder="Write a note" required>
            <button type="submit">Add</button>
        </form>

        <h2>Clear notes</h2>
        <form action="/clear" method="POST">
            <!-- {% csrf_token %} -->
            <button type="submit">Clear</button>
        </form>

        <!--
        <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Log Out</button>
        </form>
        -->

        <a href="{% url 'logout' %}">Log Out</a>

    </body>
</html>
